@using Core.Models
@model Student

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<a href="@Url.Action("All", "Student")" class="back">Вернуться к списку</a>

<div class="student">
    <div><span>Имя:</span> @Model.Name</div>
    <div><span>Фамилия:</span> @Model.Surname</div>
    <div><span>Возраст:</span> @Model.Age</div>
    <div><span>Группа:</span> @Model.Group</div>
    <div><span>Факультет:</span> @Model.Faculty</div>
    <div class="change">
        <a href="@Url.Action("Update", "Student", new { id = Model.Id })">
            <button>Редактировать</button>
        </a>
        <a href="@Url.Action("Delete", "Student", new { id = Model.Id })">
            <button>Удалить</button>
        </a>
    </div>
</div>